.md-answer {
  position: relative;
}
.icon-time {
  background-image: url('../../global/img/icon_time1.png');
  background-repeat: no-repeat;
  width: 52px;
  height: 56px;
  margin: 10px auto 0 auto;
}
.time {
  background-color: #284664;
  font-size: 32px;
  font-weight: 300;
  color: #fff; 
}
/*-------Body-------*/
.page-content-wrapper {
  background-color: #2b3b55;
}
/*-----Header ------*/
.pull-right {
  padding-top: 20px;
}
.page-header.navbar .page-logo {
  background: transparent;
}
.page-header.navbar .page-logo .logo-default {
  margin: 0;
}
.page-logo img {
  width: 150px;
}
/*------Footer------*/
.page-footer {
  background: #2b3b55;
}
/*---Content layout--*/
.portlet {
  box-shadow: none;
}
.portlet.light {
  background-color: transparent;
}
/*---Table---*/
.table th {
  text-align: center;
}
.table td:last-child {
  text-align: center;
}
.table td:first-child {
  text-align: left !important;
  padding-left: 10px !important;
}

